.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .logo {
    font-size: 4rem;
    color: #ff0;
  }

  .wrap {
    display: flex;
    gap: var(--p-m-g);
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1024px;
    color: #fff;
    font-size: 1.5rem;

    .menu {
      display: flex;
      gap: var(--p-m-g);
      align-items: center;

      .link {
        border-bottom: 2px solid transparent;

        &.active {
          border-color: #fff;
        }
      }
    }
  }
}